#Box{
    width: 300px;
    height: 500px;
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
}

.category-button{
    width:100px;
    height: 100px;
    background-color: blue;
    margin:20px;
}

#redbox {
    background-color: red;
}